extends layout

block content
  .article-meta
    h1.article-title= article.title
  hr
  .article-link
    a(href='#{article.link}')= article.link
  hr
  .article-content!= article.summary || article.description
  hr
  .article-menu
    .btn-group.article-menu-items
      a.article-is-good.btn.btn-success(href='/label/good/#{article._id}') Интересно
      a.article-is-bad.btn.btn-danger(href='/label/bad/#{article._id}') Отстой