extends layout

block content
  if label
    h1= label
  .panel.panel-primary
    .panel-heading My feed
    .panel-body Awesome feeds bellow!..
    ul.list-group
    each item in items
      li.list-group-item
        a(href='/id/#{item._id}') #{moment(item.date).format("DD.MM.YY HH:mm")} — #{item.title}
        //- pre!= item
        if label
          each item_label in item.labels 
              .label-val.label.label-default #{item_label.label} #{item_label.value.toFixed(2)}